openapi: 3.0.3
info:
  title: E-Project API
  version: 1.0.0
  description: Government Project Management Dashboard — task approval workflow API.
servers:
  - url: https://api.eproject.gov.mn/v1
    description: Production Server
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT  # Supabase Auth-аас олгоно (FR-01)
  schemas:
    Project:
      type: object
      required: [id, name, manager_id]
      properties:
        id: { type: string, format: uuid, example: "proj_4f2a9c1e" }
        name: { type: string, example: "Эрүүл мэндийн систем шинэчлэл" }
        manager_id: { type: string, format: uuid, example: "usr_pm_0231" }
    Task:
      type: object
      required: [id, name, status, project_id]
      properties:
        id: { type: string, format: uuid, example: "task_77ab12" }
        name: { type: string, example: "API баримтжуулалт бэлтгэх" }
        status: { type: string, enum: [DRAFT, ASSIGNED, IN_PROGRESS, UNDER_REVIEW, APPROVED, REJECTED], example: "UNDER_REVIEW" }
        project_id: { type: string, format: uuid, example: "proj_4f2a9c1e" }
    Error:
      type: object
      properties:
        code: { type: string, example: "FORBIDDEN_NOT_MANAGER" }
        message: { type: string, example: "Зөвхөн төслийн менежер л ажил батална (FR-28)." }
security:
  - BearerAuth: []
paths:
  /auth/login:
    post:
      summary: Хэрэглэгч нэвтрэх (FR-01)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email: { type: string }
                password: { type: string, format: password }
            example: { email: "pm@eproject.gov.mn", password: "********" }
      responses:
        '200':
          description: Амжилттай нэвтэрлээ
          content:
            application/json:
              example: { access_token: "eyJhbGciOi...", role: "PROJECT_MANAGER" }
        '401':
          description: Нэвтрэх мэдээлэл буруу
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example: { code: "INVALID_CREDENTIALS", message: "И-мэйл эсвэл нууц үг буруу." }
        '500':
          description: Internal Server Error
          content:
            application/json:
               schema: { $ref: '#/components/schemas/Error' }
               example:{code: "INTERNAL_SERVER_ERROR", message: "Unexpected server error occurred."}
  /projects:
    post:
      summary: Шинэ төсөл үүсгэх (FR-12)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Project' }
            example: { name: "Эрүүл мэндийн систем шинэчлэл", start_date: "2026-10-01", end_date: "2027-03-01" }
      responses:
        '201':
          description: Төсөл үүсгэгдлээ
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Project' }
              example: { id: "proj_4f2a9c1e", name: "Эрүүл мэндийн систем шинэчлэл", manager_id: "usr_pm_0231" }
        '400':
          description: Нэр хоосон буюу буруу формат
        '401':
          description: Нэвтрээгүй хэрэглэгч
  /tasks:
    post:
      summary: Шинэ ажил үүсгэх (FR-19)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/Task' }
            example: { name: "API баримтжуулалт бэлтгэх", project_id: "proj_4f2a9c1e", priority: "HIGH" }
      responses:
        '201':
          description: Ажил үүсгэгдлээ
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Task' }
              example: { id: "task_77ab12", status: "DRAFT", project_id: "proj_4f2a9c1e" }
        '400': { description: Шаардлагатай талбар дутуу }
        '404': { description: project_id олдсонгүй }
  /tasks/{taskId}/submit:
    post:
      summary: Ажлыг хянуулахаар илгээх (FR-24)
      parameters:
        - name: taskId
          in: path
          required: true
          schema: { type: string, format: uuid }
          example: "task_77ab12"
      responses:
        '200':
          description: Статус UNDER_REVIEW боллоо
          content:
            application/json:
              example: { id: "task_77ab12", status: "UNDER_REVIEW" }
        '403':
          description: Зөвхөн хариуцагч л илгээнэ (FR-25)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example: { code: "FORBIDDEN_NOT_ASSIGNEE", message: "Зөвхөн ажлын хариуцагч илгээнэ." }
        '404': { description: taskId олдсонгүй }
  /tasks/{taskId}/approve:
    post:
      summary: Ажлыг батлах (FR-28, FR-29)
      parameters:
        - name: taskId
          in: path
          required: true
          schema: { type: string, format: uuid }
          example: "task_77ab12"
      requestBody:
        required: false
        content:
          application/json:
            example: { review_note: "Сайн хийгдсэн, баталлаа." }
      responses:
        '200':
          description: Статус APPROVED боллоо
          content:
            application/json:
              example: { id: "task_77ab12", status: "APPROVED", reviewed_by: "usr_pm_0231" }
        '403':
          description: Зөвхөн тухайн төслийн менежер л батална (FR-28)
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Error' }
              example: { code: "FORBIDDEN_NOT_MANAGER", message: "Зөвхөн төслийн менежер л ажил батална." }
        '404': { description: taskId олдсонгүй }